<div>
    <p>
       Hi! <%= comment.user.name %>
    </p>
    <br>
    <br>
    <p>Your Comment <strong><%= comment.content %></strong> Just Got published n codeial</p>
    <br>
    <br>
    <p>Thanks</p>


</div>